{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="main"></div>
<h1>
    {% block routineOperation %}
    {% if routineOperation %} {{ routineOperation }} a routine {% else %}Unknown routine operation {% endif %}
    {% endblock %}
</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <button class="btn btn-warning" onclick="location.href='{{ url_for('routines') }}'">Cancel</button>
    </div>
</div>
</div>

{% endblock %}