{% extends "base.html" %}


{% block app_content %}
<!-- Include page-specific scripts at the beginning of each page -->
<script src="static/scripts/devices/getDeviceName.js"></script>
<script src="static/scripts/devices/getDeviceType.js"></script>
<script src="static/scripts/routines/getPrettyState.js"></script>
<script src="static/scripts/routines/getUniqueDevices.js"></script>
<script src="static/scripts/routines/coreRoutines.js"></script>

<!-- Main Content -->
<div class="main">
  <h1>Routines Configuration</h1>

  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <p>Select a routine to configure</p>
      <!-- Dropdown to select the routine to configure -->
      <select class="form-control custom-select mr-sm-2" id="routines_dropdown"></select>

      <br>
      <br>

      <!-- Routine Management Functions -->
      <button class="btn btn-secondary" onclick="location.href='{{ url_for('addroutine') }}'">Add a routine</button>
      <button class="btn btn-secondary" onclick="location.href='{{ url_for('deleteroutine') }}'">Delete a
        routine</button>
    </div>
  </div>
  <!-- Linebreaks to move the figure down -->
  <br>
  <br>
  <!-- Create a figure to hold the timing visualisation -->
  <figure>
    <!-- Create a div for the graphic bars to visualise timing -->
    <div id="visualisation" class="graphic">
    </div>
  </figure>
  <p>Select Device: </p>

  <!-- Dropdown to edit the configuration of a device -->
  <select id="devices_dropdown" title="Select a device"></select>

  <!-- Create an input box for the timings, and restrict its contents to a number between 0 and 1000 -->
  <input id="timeStart" type="number" min="0" title="The starting time for the step"></input>

  <!-- Create an input box for the timings, and restrict its contents to a number between 0 and 1000 -->
  <input id="timeStop" type="number" min="0" title="The ending time for the step"></input>

  <!-- Create a dropdown to select the state of the devices during a step -->
  <select id="state" title="Select the state of the device during the step"></select>

  <!-- Create a button to generate the timing data -->
  <button class="genTiming">Generate Timings</button>



  <p id="visMsg"></p>

  <script>
    $(document).ready(function () {
      // Your code here.
      //Document is ready to be manipulated

      //Populate the routines dropdown
      var attRou = populateRoutines("routines_dropdown");

      //Check if failed - code non-zero
      if (attRou.code) {
        //Alert that an error occurred
        alert("Error populating routines");

        //Log specific error
        console.log(attRou.msg);
      }

      //Populate the device dropdown with the devices on the system
      let attDev = populateDevices("devices_dropdown");

      //Check if failed - code non-zero
      if (attDev.code) {
        //Alert that an error occurred
        alert("Error populating devices");

        //Log specific error
        console.log(attDev.msg);
      }

      var routines = [];
    });
  </script>

</div>
{% endblock %}