{% extends "base.html" %}


{% block app_content %}
<!-- Include page-specific scripts at the beginning of each page -->
<script src="static/scripts/devices/getDeviceName.js"></script>
<script src="static/scripts/devices/getDeviceType.js"></script>
<script src="static/scripts/routines/getPrettyState.js"></script>
<script src="static/scripts/routines/getUniqueDevices.js"></script>
<script src="static/scripts/routines/coreRoutines.js"></script>

<!-- Main Content -->
<div class="main">
  <h1>Routines Configuration</h1>

  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <p>Select a routine to configure</p>
      <!-- Dropdown to select the routine to configure -->
      <select class="form-control custom-select mr-sm-2" id="routines_dropdown"></select>

      <br>
      <br>

      <!-- Routine Management Functions -->
      <button class="btn btn-secondary" onclick="location.href='{{ url_for('addroutine') }}'">Add a routine</button>
      <button class="btn btn-secondary" onclick="location.href='{{ url_for('deleteroutine') }}'">Delete a routine</button>
    </div>
  </div>
  <!-- Linebreaks to move the figure down -->
  <br>

  <!-- Edit timings -->
  <button class="btn btn-secondary" onclick="location.href='{{ url_for('addtiming') }}'">Add timings</button>
  <button class="btn btn-secondary" onclick="location.href='{{ url_for('deletetiming') }}'">Remove timings</button>
  <br>
  <!-- Create a figure to hold the timing visualisation -->
  <figure>
    <!-- Create a div for the graphic bars to visualise timing -->
    <div id="visualisation" class="graphic">
    </div>
  </figure>




  <p id="visMsg"></p>

  <script>
    $(document).ready(function () {
      // Your code here.
      //Document is ready to be manipulated

      //Populate the routines dropdown
      var attRou = populateRoutines("routines_dropdown");

      //Check if failed - code non-zero
      if (attRou.code) {
        //Alert that an error occurred
        alert("Error populating routines");

        //Log specific error
        console.log(attRou.msg);
      }

      //Populate the device dropdown with the devices on the system
      let attDev = populateDevices("devices_dropdown");

      //Check if failed - code non-zero
      if (attDev.code) {
        //Alert that an error occurred
        alert("Error populating devices");

        //Log specific error
        console.log(attDev.msg);
      }

      var routines = [];
    });
  </script>

</div>
{% endblock %}